.letter-square {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #a9a9a9;
    border-radius: 6px;
    text-align: center;
    font-size: 18px;
    color: black;
}

h4 {
    margin: 15px 0 5px;
    text-align: center;
}

.search-input {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
}

.word-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    transition: background-color 0.3s;
    min-width: 0;
    max-width: 200px;
    color: black;
}

.word-button:hover {
    background-color: #b0b0b0;
}

.word-button:active {
    background-color: #c0c0c0;
}

.word-columns {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: center;
    width: 100%;
}

.word-column {
    flex: 0 0 auto;
    margin: 10px;
    width: 80px;
}

.word-list-component {
    margin: 20px 250px 0;
}